<div class="modal-header">
  <h4 class="modal-title">{{ "signin.title" | translate }}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <form class="form-horizontal"
        role="form"
        #loginform="ngForm"
        (ngSubmit)="onSubmit()">

    <div style="margin-bottom: 25px" class="input-group">
      <span class="input-group-addon"><i class="fa fa-user"></i></span>
      <input id="email"
             type="text"
             class="form-control"
             name="email"
             [(ngModel)]="user.email"
             required
             #spy
             placeholder="{{ 'signin.loginPlaceholder' | translate }}">
    </div>

    <div style="margin-bottom: 25px" class="input-group">
      <span class="input-group-addon"><i class="fa fa-lock"></i></span>
      <input id="password"
             type="password"
             class="form-control"
             name="password"
             [(ngModel)]="user.password"
             required
             #spy
             placeholder="{{ 'signin.passwordPlaceholder' | translate }}">
    </div>

    <div class="input-group">
      <div class="checkbox">
        <label>
          <input
            type="checkbox"
            [(ngModel)]="rememberMe"
            [ngModelOptions]="{standalone: true}"> {{ 'signin.rememberMe' | translate }}
        </label>
      </div>
    </div>

    <div style="margin-top:10px" class="form-group">
      <!-- Button -->

      <div class="col-sm-12 controls">
        <button
          type="submit"
          class="btn btn-success"
          [disabled]="!loginform.form.valid">
          {{ 'signin.submit' | translate }}
        </button>
        <button
          type="submit"
          class="btn btn-primary"
          (click)="submitFacebook()">
          {{ 'signin.submitFacebook' | translate }}
        </button>
      </div>
    </div>

  </form>
</div>
